*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_left{
    width: 40%;
    height: 100%;
    background-image: 
    url("https://i.ibb.co/RhQ46xZ/Group-7.png");
    background-repeat: no-repeat;
    background-size: cover;
   background-position: center;
   padding-top: 20px;
   padding-left: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}
.image_left h1{
color: white;
}

.image_left.image_text_box {
    height: 50%;
    width: 100%;
    
}

.image_left .image_text_box h2
 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;

}

.image_left .image_text_box p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 160px;
    color: white;
    letter-spacing: 2px;
}

.right_form{
    width: 60%;
    height: 100%;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-container{
    display: flex;
    justify-content: flex-end;
}

.sign-up{
    color: #086db8;
    margin-bottom: 20px;
}




label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
}

input,
select {
    width: 100%;
    height: 30px;
    padding-left: 5px;

}

textarea {
    width: 100%;
    padding: 30px;
    
    margin-bottom: 20px;
}

form .btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
}

form .btn button {
    padding: 10px 30px;
    background-color: #086DB8;
    color: white;
    border: none;
    border-radius: 15px 0 15px 0;
}

#names, #email-gender, #password, #ed-exp-levels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;;
}

#first-name {
    width: 100%;
    margin-right: 10px
}

#last-name {
    width: 100%
}